daemon/lib
daemon/src/config.mjs
build

fb-site-config/config.mjs

node_modules
.eslintcache

**/.yarn/*
!**/.yarn/patches
!**/.yarn/releases
!**/.yarn/plugins
!**/.yarn/sdks
!**/.yarn/version
yarn-error.log

TAGS
*.swo
*.swp
